$background_color_1: white;

table {
	width: 100%;
	background-color: $background_color_1;
	border-radius: 10px;
}

h5{
	text-align: center;
	width: 100%;
	background-color: $background_color_1;
	border-radius: 10px;
}

