.normal-class {
	display: block;
	width: 20px;
	height: 20px;
	background: green;
	border-radius: 5px;
}
.retard-class {
	display: block;
	width: 20px;
	height: 20px;
	background: orange;
	border-radius: 5px;
}
.retard-liv-class {
	display: block;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 5px;
}